<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="text-center">
						<span style="font-size:24px;">ゲームを登録</span>
					</div>
					<hr>
				</div>
				<div class="panel-body text-center">
					<!-- ここからフォーム -->
					<%= form_for @game do |f| %>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<%= f.label :title,  "タイトル"%>
						        	<%= f.text_field :title ,:class => 'form-control',:placeholder => "タイトル	", autofocus: true ,required: 'true'%>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<%= f.label :place,  "場所"%>
						        	<%= f.text_field :place ,:class => 'form-control', autofocus: true ,required: 'true'%>
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-6">
								<%= f.submit "登録", class: "btn btn-danger btn-block btn-lg" %>
							</div>
							<div class="col-sm-6">
								<%= link_to "戻る" ,root_path, class: "btn btn-secondary btn-block btn-lg" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>


<hr>
t.string "title"
t.text "description"<br>
t.datetime "datetime"<br>
t.string "place"<br>
t.string "level"<br>
t.string "price"<br>
t.text "remark"<br>
t.integer "team_id"<br>
t.string "active"<br>
t.string "closer_station"<br>
