<!DOCTYPE html>
<html>
  <head>
    <title>Wanaka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <%= yield %>

    <%= link_to 'top', root_path %>

    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>

    <% end %>
    <!-- <script>$( "#alarm" ).timeDropper();</script> -->
  </body>
</html>
